<footer style="max-height: 3.4rem;" class="py-2 w-100 h-100" [ngClass]="theme == 'light' ? 'bg-white text-dark' : 'bg-dark text-white'">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-10">
      <div class="row justify-content-between">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-0">
          <h5 class="text-center p-0 m-0 w-auto"><b>CANTOS ETERNOS</b></h5>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-0">
        <h5 class="text-center p-0 m-0 w-auto">© 2024 Cantos Eternos, criado por <a target="_blank" href="https://www.linkedin.com/in/pedrohenriquevenancio2004/">Pedro Venâncio</a>.</h5>
      </div>
      </div>
    </div>
  </div>
</footer>
