<style>
  .btn-smaller {
    width: 2rem;
    height: 2rem;
  }
  .font-size-1 {
    font-size: 1rem;
  }
</style>

<header class="shadow w-100 h-100" [ngClass]="theme == 'light' ? 'bg-white text-dark' : 'bg-dark text-white'">
  <div class="col-12 p-0 row justify-content-center h-100">
    <div class="col-11 my-2">
      <div class="row justify-content-between align-items-center h-100">
        <div class="col-6">
          <button data-bs-toggle="offcanvas" data-bs-target="#menuHeader" aria-controls="menuHeader" class="btn border-0" [ngClass]="theme == 'light' ? 'btn-outline-dark' : 'btn-outline-light'">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <div class="col-6 p-0">
          <div class="row justify-content-end align-items-center p-0 h-100">
            <div class="col-12 row justify-content-end">
              <div class="col-auto p-0">
                <button (click)="themeMode.setThemeMode('dark')" class="btn btn-smaller px-1 pt-2 rounded-0" [ngClass]="theme == 'dark' ? 'btn-light rounded-start-pill' : 'btn-outline-dark rounded-start-pill'" aria-label="Example icon-button with a menu">
                    <mat-icon class="font-size-1">dark_mode
                    </mat-icon>
                </button>
              </div>
              <div class="col-auto p-0">
                <button (click)="themeMode.setThemeMode('light')" class="btn btn-smaller px-1 pt-2 rounded-0" [ngClass]="theme == 'dark' ? 'btn-outline-light rounded-end-pill' : 'btn-dark rounded-end-pill'" aria-label="Example icon-button with a menu">
                    <mat-icon class="font-size-1">light_mode
                    </mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="offcanvas offcanvas-start" [ngClass]="theme == 'light' ? 'bg-white text-dark' : 'bg-dark text-white'" tabindex="-1" id="menuHeader" aria-labelledby="menuHeaderLabel">
  <div class="offcanvas-header">
    <div class="col-12 row justify-content-around align-items-center">
      <div class="col-9"></div>
      <div class="col-3 p-0">
        <button type="button" class="btn border-0 float-end" data-bs-dismiss="offcanvas" aria-label="Close" [ngClass]="theme == 'dark' ? 'text-white' : 'text-dark'">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="offcanvas-body">
    <button (click)="navigateTo('/inicio')" class="w-100 btn rounded-0 d-flex justify-content-center align-items-center" [ngClass]="theme == 'light' ? 'btn-outline-dark' : 'btn-outline-light'">
      <mat-icon>home</mat-icon>
      <span class="ml-2">Inicio</span>
    </button>
    <button (click)="navigateTo('/catalogo')" class="w-100 btn rounded-0 d-flex justify-content-center align-items-center" [ngClass]="theme == 'light' ? 'btn-outline-dark' : 'btn-outline-light'">
      <mat-icon>groups_2</mat-icon>
      <span class="ml-2">Catalogo</span>
    </button>
  </div>
</div>
