<style>
  ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
</style>

<div class="vh-100 w-100 overflow-x-hidden overflow-y-auto">
  <div style="min-height:auto;" class="position-fixed z-2 w-100">
    <app-header></app-header>
  </div>
  <div style="min-height:80%;" class="h-100">
    <router-outlet></router-outlet>
  </div>
</div>

