<style>
  img {
    aspect-ratio: 16/9;
  }
  .img-zoom {
    transform: scale(1.25);
  }
  .text-bold {
    font-weight: bold;
  }
  .text-smaller {
    font-size: 0.8rem;
  }
  .h-1 {
    height: 1px;
  }
  .h-10 {
    height: 10px;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
</style>

<div class="h-100 overflow-x-hidden overflow-y-auto">
  <div class="w-100 h-auto overflow-hidden mt-5 pt-4" [ngStyle]="{'background-color':artista.color ?? 'transparent'}" [ngClass]="theme == 'light' ? 'text-dark' : 'text-white'">
    <div class="row justify-content-center p-0">
      <div class="col-11 p-0">
        <div class="row">
          <button (click)="navigateBack()" class="d-flex align-items-center mx-3 mb-2 p-0 w-auto px-3 py-1 btn btn-sm" [ngStyle]="{'background-color':artista.color ?? 'transparent'}" [ngClass]="theme == 'light' ? 'btn-outline-light' : 'btn-outline-dark'"><mat-icon style="font-size: 1.3rem;">arrow_back_ios</mat-icon> Voltar</button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-5 col-md-6 col-sm-7">
        <div class="row justify-content-center">
          <div class="col-10">
            <img [@fadeInAnimation] [src]="artista.src" alt="Artista selecionado" class="img-fluid img-zoom">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 h-auto pb-5 mb-5">
    <div class="row mt-4">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-8 col-md-9 col-sm-10">
            <div class="row justify-content-around">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="row justify-content-center align-items-center h-100">
                  <button [@fadeInAnimation] class="btn d-flex align-items-center w-auto px-3 py-2 my-2" [ngClass]="theme == 'dark' ? 'btn-light' : 'btn-dark'">
                    <mat-icon>map</mat-icon> Trajetória
                  </button>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="row justify-content-center">
                  <button *ngIf="artista.grandesSucessos.length > 0" [@fadeInAnimation] class="btn d-flex align-items-center w-auto px-3 py-2 my-2" [ngClass]="theme == 'dark' ? 'btn-light' : 'btn-dark'">
                    <mat-icon>music_note</mat-icon> Grandes sucessos
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-8">
            <div class="row justify-content-xl-end justify-content-lg-end justify-content-md-center justify-content-sm-center mt-2">
              <button [@fadeInAnimation]  class="btn d-flex align-items-center justify-content-center px-5 py-2 text-bold" [ngStyle]="{'background-color':artista.color ?? 'transparent'}">
                <mat-icon>headphones</mat-icon> Escutar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-10" [ngClass]="theme == 'light' ? 'text-dark' : 'text-white '">
        <section id="trajetoria" class="mb-4">
          <div class="row justify-content-center">
            <h3 class="row text-bold w-auto">
              <div class="col-auto my-auto">
                <mat-icon>map</mat-icon>
              </div>
              <div class="col-auto p-0">
                Trajetória
              </div>
            </h3>
          </div>
          <p class="text-wrap">
            {{artista.trajetoria}}
          </p>
        </section>
        <section *ngIf="artista.slides.length > 0" class="row justify-content-center">
          <div class="col-12">
            <div id="slidesFotos" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="row justify-content-center">
                  <div class="col-10">
                    <div class="carousel-item" *ngFor="let src of artista.slides; let i = index;" [ngClass]="i == 0 ? 'active' : ''">
                      <img [src]="src" class="d-block w-100 img-fluid" [alt]="'Slide '+(i+1)">
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev text-smaller" type="button" data-bs-target="#slidesFotos" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next text-smaller" type="button" data-bs-target="#slidesFotos" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </section>
        <section *ngIf="artista.grandesSucessos.length > 0" id="grandesSucessos" class="mt-3 py-2 px-1 rounded-3" [ngClass]="theme == 'dark' ? 'bg-white text-dark' : 'bg-dark text-white'">
          <div class="row justify-content-center">
            <h3 class="row text-bold w-auto">
              <div class="col-auto my-auto">
                <mat-icon>music_note</mat-icon>
              </div>
              <div class="col-auto p-0">
                Grandes<br>sucessos
              </div>
            </h3>
          </div>
          <div class="row h-1" [ngClass]="theme == 'light' ? 'bg-white' : 'bg-dark'"></div>
          <div class="w-100" *ngFor="let sucesso of artista.grandesSucessos; let i = index;">
            <div *ngIf="i < artista.grandesSucessos.length" class="row h-10" [ngClass]="theme == 'light' ? 'bg-white' : 'bg-dark'"></div>
            <h4 class="text-wrap text-capitalize text-center border-bottom border-bottom-2 m-0 py-2">
              {{sucesso.nome.toUpperCase()}}
            </h4>
            <p *ngIf="sucesso.views" class="text-wrap text-center m-0 py-2">
              {{sucesso.views}} views
            </p>
          </div>
        </section>
        <section class="mt-4">
          <p class="text-center">Informações retiradas do YouTube, Spotify e Wikipedia.</p>
        </section>
      </div>
    </div>
  </div>
</div>
