<style>
  .bg-music {
    background-image: url('./assets/background_inicio.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>

<div class="w-100 h-100 bg-music">
  <div class="d-flex flex-column justify-content-center align-items-center h-100">
    <div class="row justify-content-center w-100 mt-4 mb-3">
      <div class="col-xl-5 col-lg-5 col-md-6 col-sm-7">
        <div class="row justify-content-center">
          <div class="col-8">
            <div class="row justify-content-center">
                <img [@fadeInAnimation] *ngIf="theme == 'light'" src="./assets/logos/light_logo.png" alt="Logo" class="img-fluid rounded-circle" loading="eager">
                <img [@fadeInAnimation] *ngIf="theme == 'dark'" src="./assets/logos/dark_logo.png" alt="Logo" class="img-fluid rounded-circle" loading="eager">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center w-100">
      <button [@fadeInAnimation] class="btn shadow-lg p-2 w-auto" [ngClass]="theme == 'dark' ? 'btn-light' : 'btn-dark'" (click)="navigateTo('/catalogo')">Explorar</button>
    </div>
  </div>
</div>
